{{/* config */}}
{{- $computer_name := promptString "Device Name" "" -}}
{{- $install_asdf := promptBool "Install ASDF" false -}}
{{- $install_antidote := promptBool "Install Antidote ZSH Plugin" false -}}

[data]
  computer_name = "{{ $computer_name }}"
  install_asdf = "{{ $install_asdf }}"
  install_antidote = "{{ $install_antidote }}"
[git]
  autoCommit = true
  autoPush = true
[edit]
  command = "code"
  args = "-w"