{{ if (eq .install_antidote "true") -}}
#!/bin/zsh

ANTIDOTE="$(brew --prefix)/share/antidote"
source "$ANTIDOTE/antidote.zsh"

# dconf.ini hash: {{ include "dot_zplugins" | sha256sum }}
echo "Updating .zplugins.sh"
antidote bundle < {{ joinPath .chezmoi.sourceDir "dot_zplugins" | quote }} > ~/.zplugins.sh
echo "Done!"
{{ end -}}