{{ if (eq .install_asdf "true") -}}
#!/bin/bash

{{ range .asdf -}}
asdf plugin-add {{ .lang | quote }} {{ .repo | quote }}
asdf install {{ .lang | quote }} {{ .version | quote }}
asdf global {{ .lang | quote }} {{ .version }}
{{ end -}}

asdf plugin-add direnv
asdf direnv setup --shell zsh --version latest

{{ end -}}
