{{ if (eq .install_asdf "true") -}}
#!/bin/bash

{{ range .asdf -}}
asdf plugin add {{ .lang | quote }} {{ .repo | quote }}
asdf install {{ .lang | quote }} {{ .version | quote }}
asdf set --home {{ .lang | quote }} {{ .version }}
{{ end -}}

asdf plugin add direnv
chmod +x $ASDF_DATA_DIR/plugins/direnv/lib/commands/command-*.bash

if [ ! $+commands[direnv] ]; then
  asdf cmd direnv setup.bash --shell zsh --version latest
fi

{{ end -}}
