#!/bin/bash
{{- if eq .chezmoi.os "darwin" -}}

brew bundle --no-lock --file=/dev/stdin <<EOF

tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/core"
tap "homebrew/services"

brew "antigen"
brew "coreutils"
brew "asdf"
brew "autojump"
brew "awscli"
brew "azure-cli"
brew "bat"
brew "chezmoi"
brew "curl"
brew "gd"
brew "dnsmasq"
brew "findutils"
brew "fzf"
brew "gh"
brew "git"
brew "gitu"
brew "git-filter-repo"
brew "gnutls"
brew "gnupg"
brew "handbrake"
brew "helm"
brew "hey"
brew "htop"
brew "httpd"
brew "ios-sim"
brew "jq"
brew "moreutils"
brew "ncdu"
brew "tmux"
brew "topgrade"
brew "wget"

tap "yt-dlp/taps"
brew "yt-dlp"

tap "hashicorp/tap"
brew "hashicorp/tap/consul"
brew "hashicorp/tap/nomad"
brew "hashicorp/tap/packer"
brew "hashicorp/tap/terraform"
brew "hashicorp/tap/vault"

cask "1password"
cask "1password-cli"
cask "affinity-designer"
cask "affinity-photo"
cask "affinity-publisher"
cask "balenaetcher"
cask "bettertouchtool"
cask "chromium"
cask "discord"
cask "firefox"
cask "headlamp"
cask "iina"
cask "istat-menus"
cask "iterm2"
cask "jordanbaird-ice"
cask "keka"
cask "keycastr"
cask "loopback"
cask "microsoft-auto-update"
cask "microsoft-edge"
cask "monitorcontrol"
cask "notion"
cask "obsidian"
cask "qlmarkdown"
cask "rectangle"
cask "slack"
cask "soundsource"
cask "spotify"
cask "syntax-highlight"
cask "telegram"
cask "visual-studio-code"
cask "vlc"
cask "zoom"
EOF

brew cleanup

{{ end -}}
