{{- $target := joinPath .chezmoi.homeDir ".config" "git" "config" -}}
{{- $signingkey := "" -}}
{{- if stat $target -}}
{{-   $signingkey = (output "bash" "-c" (printf "grep -m1 'signingkey' %s | awk '{print $3}'" $target)) | trim -}}
{{- else -}}
{{-   $signingkey = (onepasswordDetailsFields "t7ywvz2xwrlrxxeilo4fi2mwqm" "" .op.account).public_key.value -}}
{{- end -}}
[init]
	defaultBranch = main

[user]
	email = {{ .git.email }}
	name = {{ .git.name }}

	signingkey = {{ $signingkey }}

[gpg]
  format = ssh

[gpg "ssh"]
  program = "~/.local/bin/git-ssh-sign"

[commit]
  gpgsign = true

[pull]
	rebase = false
[push]
	autoSetupRemote = true

[core]
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true  # use n and N to move between diff sections
	dark = true      # or light = true, or omit for auto-detection

[merge]
	conflictStyle = zdiff3
