{{- $target := joinPath .chezmoi.homeDir ".config" "age" "chezmoi.key.txt" -}}
{{- if stat $target -}}
{{ include $target }}
{{- else -}}
{{- $fields := onepasswordDetailsFields "kqcpbt6rlgmz7ewz2rk3czfg6q" .op.vault .op.account -}}
# created: 2025-05-03T15:27:55-04:00
# public key: {{ $fields.username.value }}
{{ $fields.password.value }}
{{- end -}}
