{{- $target := joinPath .chezmoi.homeDir ".config" "age" "homelab.key.txt" -}}
{{- if stat $target -}}
{{ include $target }}
{{- else -}}
{{- $fields := onepasswordDetailsFields "qp2cnsepzqzh6dfmvro42khssq" .op.vault .op.account -}}
# created: 2025-05-03T15:27:55-04:00
# public key: {{ $fields.username.value }}
{{ $fields.password.value }}
{{- end -}}
