# created: 2025-05-03T15:27:55-04:00
# public key: {{ (onepasswordDetailsFields "qp2cnsepzqzh6dfmvro42khssq" .op.vault .op.account).username.value }}
{{ (onepasswordDetailsFields "qp2cnsepzqzh6dfmvro42khssq" .op.vault .op.account).password.value }}
