# created: 2025-05-03T15:27:55-04:00
# public key: {{ (onepasswordDetailsFields "kqcpbt6rlgmz7ewz2rk3czfg6q" .op.vault .op.account).username.value }}
{{ (onepasswordDetailsFields "kqcpbt6rlgmz7ewz2rk3czfg6q" .op.vault .op.account).password.value }}
